/* #notes-panel {
      width: 200px;
      margin: 50px;
} */
li {
      padding: 0px 2px !important;
      width: 500px !important;
}

.selected {
      background-color: #CFC;
      border-color: #ACA;
}