/* #notes-panel {
      width: 200px;
      margin: 50px;
} */
li {
      padding: 0px 2px !important;
      width: 400px !important;
      user-select: none;
      font-size: 20px;
}

.selected {
      background-color: #CFC;
      border-color: #00c84a;
}

#sidebar {
      background: #004287;
      position: fixed;
      color: #ffffff;
      transition: all 0.5s;
      min-width: 250px;
      max-width: 250px;
      min-height: 100vh;
}

.wrapper {
      display: flex;
      width: 100%;
      align-items: stretch;
}

#sidebar .sidebar-header {
      margin: 20px;
}

#content {
      display: inline-block;
      width: 100%;
}

#text-panel {
      float: right;
      width: 400px;
      margin: 20px;
      font-size: 20px;
      line-height: 31px;
      padding-top: 0px;
}

#notes-panel {
      margin: 20px;
      float: left;
}

div.alert {
      position: fixed;
      margin: 20px;
      bottom: 10px;
}

button {
      user-select: none;
}